{{!-- shows all blog posts by all users --}}
<h2 class="dashboard-header">Dashboard</h2>

<section class="dashboard-body container">
    {{!-- {{#if logged_in}} --}}
    <section class="flex-row justify center">
        {{#each (reverse posts)}}
        <a href="/viewPost/{{id}}">
            <div class="post-container">
                <div class="titleAndInfo-container">
                    <h3 class="postTitle">{{title}}</h3>
                    <p class="postInfo"> Posted by {{user.name}} on {{format_date createdAt "yyyy-mm-dd"}}</p>
                </div>
                <p>{{body}}</p>
                {{!-- <div class="dashboardButon-container">
                    <button class="viewPost-button btn">View Post</button>
                </div> --}}
                <br>
            </div>
        </a>
        {{/each}}
    </section>
</section>
{{!-- {{else}}
<p>You must be logged in to view all posts</p>
<a class='btn' href="/login">Log in</a>
{{/if}} --}}