{{!-- shows any blog posts already created ( by this specific account)
and the option to add a new post --}}

<h2 class="homepage-header">Your Posts</h2>

<section class="container homepage-body">
    {{#if logged_in}}

    <div class="homepageButton-container">
        <a href="/newPost" class="button btn">+ New post</a>
    </div>
    <section class="flex-row justify center">
        {{#each posts}}
        <a href="/editPost/{{id}}">
            {{#if (eq user_id ../user_id)}}
            <div class="post-container">
                <h3>{{title}}</h3>
                <p>{{body}}</p>
            </div>

            {{else}}
            {{/if}}
        </a>
        {{/each}}
    </section>
</section>

{{else}}
<p class="loginText">You must be logged in to view your posts</p>
<div class="homepageButton-container">
    <p><a class='button btn' href="/login">Log in</a></button></p>
</div>
{{/if}}